LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwaywest",
        "norwayeast",
        "brazilsoutheast",
        "westus3"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql-11"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "MySqlServerAuthenCon"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      }
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      }
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_1_encryptConnection": {
      "type": "bool",
      "metadata": {
        "description": "Encrypt Connection"
      }
    },
    "sql_1_privacySetting": {
      "type": "string",
      "metadata": {
        "description": "Privacy Setting"
      },
      "allowedValues": [
        "None",
        "Private",
        "Organizational",
        "Public"
      ]
    },
    "sql_1_sqlConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "SQL Connection String"
      }
    },
    "excelonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "excelonline-2"
    },
    "excelonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Excel Online (OneDrive)"
    },
    "ftp_1_Connection_Name": {
      "type": "string",
      "defaultValue": "ftp-10"
    },
    "ftp_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "WhenAFileFTPcon"
    },
    "ftp_1_serverAddress": {
      "type": "string",
      "metadata": {
        "description": "Server Address"
      },
      "defaultValue": "67.217.46.244"
    },
    "ftp_1_userName": {
      "type": "string",
      "metadata": {
        "description": "User Name"
      },
      "defaultValue": "agftpuser"
    },
    "ftp_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password"
      }
    },
    "ftp_1_serverPort": {
      "type": "int",
      "metadata": {
        "description": "FTP Port Number (example: 21)"
      }
    },
    "ftp_1_isSSL": {
      "type": "bool",
      "metadata": {
        "description": "Enable SSL? (True/False)"
      },
      "defaultValue": false
    },
    "ftp_1_isBinaryTransport": {
      "type": "bool",
      "metadata": {
        "description": "Enable Binary Transport? (True/False)"
      },
      "defaultValue": false
    },
    "ftp_1_disableCertificateValidation": {
      "type": "bool",
      "metadata": {
        "description": "Disable Certificate Validation? (True/False)"
      },
      "defaultValue": true
    },
    "ftp_1_closeConnectionAfterRequestCompletion": {
      "type": "bool",
      "metadata": {
        "description": "Close FTP connection everytime after request completes? (True/False)"
      },
      "defaultValue": false
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Insert_row_(V2)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "FirstName": "@triggerBody()?['FirstName']",
                  "LastName": "@triggerBody()?['LastName']",
                  "Department": "@triggerBody()?['Department']",
                  "JobTitle": "@triggerBody()?['JobTitle']",
                  "Location": "@triggerBody()?['Location']",
                  "FullName": "@triggerBody()?['FullName']",
                  "HomePhone": "@triggerBody()?['HomePhone']"
                },
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Employee]'))}/items"
              },
              "runAfter": {}
            },
            "Add_a_row_into_a_table": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['excelonline_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "Column1": "@triggerBody()?['FirstName']",
                  "Column2": "@triggerBody()?['LastName']",
                  "Column3": "@triggerBody()?['Department']"
                },
                "path": "/codeless/v1.2/drives/me/items/@{encodeURIComponent('B2853B89553C810D!13371')}/workbook/tables/@{encodeURIComponent('{76BA3B34-6B18-462E-B972-A66E5F4F3F70}')}/rows",
                "queries": {
                  "source": "me",
                  "dateTimeFormat": "Serial Number"
                }
              },
              "runAfter": {
                "NothingForSomething2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "B2853B89553C810D!13371": "/MyFile.xlsx"
              }
            },
            "NothingForSomething2": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "triggerName": "manual",
                  "workflow": {
                    "id": "/subscriptions/cc731891-2d7d-484c-be9d-b985b8e30709/resourceGroups/E78-Rayhan/providers/Microsoft.Logic/workflows/NothingForSomething2"
                  }
                },
                "body": {
                  "FirstName": "@triggerBody()?['FirstName']",
                  "LastName": "@triggerBody()?['LastName']",
                  "Department": "@triggerBody()?['Department']",
                  "JobTitle": "@triggerBody()?['JobTitle']",
                  "Location": "@triggerBody()?['Location']",
                  "FullName": "@triggerBody()?['FullName']",
                  "HomePhone": "@triggerBody()?['HomePhone']"
                }
              },
              "runAfter": {
                "Insert_row_(V2)": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": "Okay Dear@{body('When_a_file_is_added_or_modified_(properties_only)')?['Name']}"
              },
              "runAfter": {
                "When_a_file_is_added_or_modified_(properties_only)": [
                  "Succeeded"
                ]
              }
            },
            "When_a_file_is_added_or_modified_(properties_only)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['ftp_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/batch/onupdatedfile",
                "queries": {
                  "folderId": "L2lPUw==",
                  "checkBothCreatedAndModifiedDateTime": false,
                  "maxFileCount": 1
                }
              },
              "runAfter": {
                "Add_a_row_into_a_table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "L2lPUw==": "/iOS"
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "FirstName": {
                      "type": "string"
                    },
                    "LastName": {
                      "type": "string"
                    },
                    "Department": {
                      "type": "string"
                    },
                    "JobTitle": {
                      "type": "string"
                    },
                    "Location": {
                      "type": "string"
                    },
                    "FullName": {
                      "type": "string"
                    },
                    "HomePhone": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "excelonline_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'excelonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('excelonline_1_Connection_Name'))]",
                "connectionName": "[parameters('excelonline_1_Connection_Name')]"
              },
              "ftp_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'ftp')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('ftp_1_Connection_Name'))]",
                "connectionName": "[parameters('ftp_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('excelonline_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('ftp_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]",
          "encryptConnection": "[parameters('sql_1_encryptConnection')]",
          "privacySetting": "[parameters('sql_1_privacySetting')]",
          "sqlConnectionString": "[parameters('sql_1_sqlConnectionString')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('excelonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'excelonline')]"
        },
        "displayName": "[parameters('excelonline_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('ftp_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'ftp')]"
        },
        "displayName": "[parameters('ftp_1_Connection_DisplayName')]",
        "parameterValues": {
          "serverAddress": "[parameters('ftp_1_serverAddress')]",
          "userName": "[parameters('ftp_1_userName')]",
          "password": "[parameters('ftp_1_password')]",
          "serverPort": "[parameters('ftp_1_serverPort')]",
          "isSSL": "[parameters('ftp_1_isSSL')]",
          "isBinaryTransport": "[parameters('ftp_1_isBinaryTransport')]",
          "disableCertificateValidation": "[parameters('ftp_1_disableCertificateValidation')]",
          "closeConnectionAfterRequestCompletion": "[parameters('ftp_1_closeConnectionAfterRequestCompletion')]"
        }
      }
    }
  ],
  "outputs": {}
}